.tweets {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tweets:hover {
  transition: 150ms;
  box-shadow: 10px 5px 5px grey;
}

article.tweet {
  border: 3px solid;
  padding: 1em 1em 1em 1em;
}

article.tweet header {

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

article.tweet div:first-child {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

article.tweet .text-display {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 3px solid;
}

article.tweet footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

article.tweet .icons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

article.tweet .icon {
  margin-left: 10px;
  margin-right: 10px;
  color: #4056A1;
}

article.tweet .icon:hover {
  transition: 150ms;
  color: darkgoldenrod;
}